@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

html {
    scroll-behavior: smooth;
  }

.active hr {
    @apply block
}

@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}
/* DISABLE THIS FOR SCROLLBARS DISPLAYING ON PAGE*/
::-webkit-scrollbar {
    @apply hidden
}

[data-aos="fade-up"] {
  transform: translate3d(0, 10px, 0); /* shorter start distance */
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="fade-up"].aos-animate {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

[data-aos="fade-left"] {
  transform: translate3d(10px, 0, 0); /* shorter start distance */
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="fade-left"].aos-animate {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .animate-fadeOut {
    animation: fadeOut 0.5s ease-out forwards;
  }
  